<div class="jumbotron text-center">
	<h2>artists and hosts</h2>
	<br>
	<div class="btn-group" role="group" aria-label="people groups">
  	</div>
</div>
<div class="container">
	<div class="row">
		<%= render @users %>
	</div>
</div>
